header {
	width: 100%;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

/* ---------- TOP MENU ---------- */

.row-top-menu {
	background-color: #222;
	color: #afafaf;
	font-size: 12px;
}

.top-menu {
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-menu ul li {
	display: inline;
}

.top-menu img {
	width: 16px;
	height: 16px;
}

.top-menu a {
	color: #afafaf;
	text-decoration: none;
}

.top-menu a:hover {
	color: white;
}

.top-menu-separator {
	margin: 10px;
}

.top-menu img {
	vertical-align: middle;
	margin-left: 5px;
}

/* ---------- HEADER MENU ---------- */

.row-header-menu {
	background-color: lightgrey;
}

.header-menu {
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu .logo img {
	height: 20px;
}

.header-menu nav ul li {
	display: inline-block;
	line-height: 70px;
	padding: 0 25px 0 15px;
}

.header-menu a {
	border: 1px solid red;

	color: #4d4d4d;
}

.header-menu ul li:hover {
	background-color: white;
}
