* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: Arial, Verdana, sans-serif;
	color: #555;
	text-align: center;
}

.container:first-child {
	margin-top: 12px;
}

li {
	display: inline-block;
}

/* ----- apagar antes daqui ----- */

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 12px;
	/* border: 1px solid red; */
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row > * {
	width: 100%;
	max-width: 100%;
	flex-shrink: 0;
}

.col {
	flex: 1 0 0%;
}

/* seleciona todos os elementos com a classe "col" */
[class*="col"] {
	width: 100%;
	padding: 0 12px;
	margin-bottom: 12px;
	flex-wrap: wrap;
}

/* seleciona todos os filhos de qualquer elemento com a classe "col" */
[class*="col"] * {
	padding: 12px 0;
	background: #fff;
}

/* MOBILE FIRST */

/* Dispositivos Extra Small (XS) : smartphones em modo retrato */
/* prettier-ignore */
@media (max-width: 575.99px) {
	[class*="logo"] {display: none;}
	[class*="logo-xs"] {display: block;}

	body {background-color: lightblue;}
	.container {min-width: 360px;}
	.col-xs-1 {max-width: 8.333333%;}
	.col-xs-2 {max-width: 16.666667%;}
	.col-xs-3 {max-width: 25%;}
	.col-xs-4 {max-width: 33.333333%;}
	.col-xs-5 {max-width: 41.666667%;}
	.col-xs-6 {max-width: 50%;}
	.col-xs-7 {max-width: 58.333333%;}
	.col-xs-8 {max-width: 66.666667%;}
	.col-xs-9 {max-width: 75%;}
	.col-xs-10 {max-width: 83.333333%;}
	.col-xs-11 {max-width: 91.666667%;}
	.col-xs-12 {max-width: 100%;}

}

/* Dispositivos Small (SM) : smartphones em modo paisagem */
/* prettier-ignore */
@media (min-width: 576px) {
	[class*="logo"] {display: none;}
	[class*="logo-sm"] {display: block;}

	body {background-color: lightcoral;}
	.container {max-width: 540px;}
	.col-sm-1 {max-width: 8.333333%;}
	.col-sm-2 {max-width: 16.666667%;}
	.col-sm-3 {max-width: 25%;}
	.col-sm-4 {max-width: 33.333333%;}
	.col-sm-5 {max-width: 41.666667%;}
	.col-sm-6 {max-width: 50%;}
	.col-sm-7 {max-width: 58.333333%;}
	.col-sm-8 {max-width: 66.666667%;}
	.col-sm-9 {max-width: 75%;}
	.col-sm-10 {max-width: 83.333333%;}
	.col-sm-11 {max-width: 91.666667%;}
	.col-sm-12 {max-width: 100%;}
}

/* Dispositivos Medium (MD) : tablets em modo retrato */
/* prettier-ignore */
@media (min-width: 768px) {
	[class*="logo"] {display: none;}
	[class*="logo-md"] {display: block;}

	body {background-color: lightgray;}
	.container {max-width: 720px;}
	.col-md-1 {max-width: 8.333333%;}
	.col-md-2 {max-width: 16.666667%;}
	.col-md-3 {max-width: 25%;}
	.col-md-4 {max-width: 33.333333%;}
	.col-md-5 {max-width: 41.666667%;}
	.col-md-6 {max-width: 50%;}
	.col-md-7 {max-width: 58.333333%;}
	.col-md-8 {max-width: 66.666667%;}
	.col-md-9 {max-width: 75%;}
	.col-md-10 {max-width: 83.333333%;}
	.col-md-11 {max-width: 91.666667%;}
	.col-md-12 {max-width: 100%;}
}

/* Dispositivos Large (LG) : laptops */
/* prettier-ignore */
@media (min-width: 992px) {
	[class*="logo"] {display: none;}
	[class*="logo-lg"] {display: block;}

	body {background-color: lightgreen;}
	.container {max-width: 960px;}
	.col-lg-1 {max-width: 8.333333%;}
	.col-lg-2 {max-width: 16.666667%;}
	.col-lg-3 {max-width: 25%;}
	.col-lg-4 {max-width: 33.333333%;}
	.col-lg-5 {max-width: 41.666667%;}
	.col-lg-6 {max-width: 50%;}
	.col-lg-7 {max-width: 58.333333%;}
	.col-lg-8 {max-width: 66.666667%;}
	.col-lg-9 {max-width: 75%;}
	.col-lg-10 {max-width: 83.333333%;}
	.col-lg-11 {max-width: 91.666667%;}
	.col-lg-12 {max-width: 100%;}
}

/* Dispositivos Extra Large (XL) : desktops */
/* prettier-ignore */
@media (min-width: 1200px) {
	[class*="logo"] {display: none;}
	[class*="logo-xl"] {display: block;}

	body {background-color: lightpink;}
	.container {max-width: 1140px;}
	.col-xl-1 {max-width: 8.333333%;}
	.col-xl-2 {max-width: 16.666667%;}
	.col-xl-3 {max-width: 25%;}
	.col-xl-4 {max-width: 33.333333%;}
	.col-xl-5 {max-width: 41.666667%;}
	.col-xl-6 {max-width: 50%;}
	.col-xl-7 {max-width: 58.333333%;}
	.col-xl-8 {max-width: 66.666667%;}
	.col-xl-9 {max-width: 75%;}
	.col-xl-10 {max-width: 83.333333%;}
	.col-xl-11 {max-width: 91.666667%;}
	.col-xl-12 {max-width: 100%;}
}

/* Dispositivos Extra Extra Large (XXL) : full HD */
/* prettier-ignore */
@media (min-width: 1400px) {
	[class*="logo"] {display: none;}
	[class*="logo-xxl"] {display: block;}

	body {background-color: lightsalmon;}
	.container {max-width: 1320px;}
	.col-xxl-1 {max-width: 8.333333%;}
	.col-xxl-2 {max-width: 16.666667%;}
	.col-xxl-3 {max-width: 25%;}
	.col-xxl-4 {max-width: 33.333333%;}
	.col-xxl-5 {max-width: 41.666667%;}
	.col-xxl-6 {max-width: 50%;}
	.col-xxl-7 {max-width: 58.333333%;}
	.col-xxl-8 {max-width: 66.666667%;}
	.col-xxl-9 {max-width: 75%;}
	.col-xxl-10 {max-width: 83.333333%;}
	.col-xxl-11 {max-width: 91.666667%;}
	.col-xxl-12 {max-width: 100%;}
}
